.mainNav ul {
    list-style-type: none;
    padding: 20px;
}

.mainNav a {
    display: block;
    text-decoration: none;
    color: #0C833D;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s;
}

.mainNav a:hover {
    transform: translateX(20px);
    color: #29e18c;
}

.mainNav a.active {
    color: #29e18c;
    text-shadow: 5px 0px 15px rgba(41, 225, 140, 0.5);
    border-bottom: 2px #29e18c solid;
    transform: translateX(0);
}